footer {
    min-height: 5vh;
    width: 95%;
    margin: auto;
    display: flex;
    padding: 1rem 3%;
    align-items: center;
    flex-wrap: wrap;

    ul {
        display: flex;
        flex: 1 1 40rem;
        @include flex(space-between, center, center);
        cursor: pointer;
    }

    img {
        width: 70%;
    }

    h4 {
        flex: 3 1 40rem;
        font-size: $text;
        font-family: $font-josefin;
    }
}