$header1: 6.4rem;
$header2: 4.8rem;
$header3: 3.6rem;
$header4: 2.4rem;
$text: 1.8rem;
$background-color: #F1F0EA;
$brown-text: #736161;

$font-didact: 'Didact Gothic',
sans-serif;
$font-crimson: 'Crimson Text',
serif;
$font-josefin: 'Josefin Sans',
sans-serif;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import "global";
@import "intro";