/* Global Style */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: 'Didact Gothic', sans-serif;
  color: white;
  cursor: pointer;
}

.main-head {
  width: 95%;
  margin: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2.4rem;
  min-height: 5vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.6rem;
}

nav #logo h1 {
  margin: 2rem 0rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2.4rem;
  font-family: "Didact Gothic", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
  padding: 1rem;
  text-align: center;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  margin: auto;
}

.img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.img1 .food1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  text-align: center;
  padding: 1rem;
}

.text1 h1 {
  font-size: 6.4rem;
  font-family: "Crimson Text", serif;
}

.text1 h4 {
  font-size: 1.8rem;
  font-family: "Didact Gothic", sans-serif;
  color: #736161;
  padding-bottom: 2rem;
}

.text1 button {
  background: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  border: none;
  padding: 2rem 4rem;
  font-size: 1.8rem;
  font-family: "Didact Gothic", sans-serif;
  margin: 2rem;
}

.why-uchiha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: auto;
}

.power-of-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #F1F0EA;
  padding: 1rem;
}

.power-of-food h1 {
  font-size: 6.4rem;
  font-family: "Crimson Text", serif;
}

.power-of-food h4 {
  font-size: 1.8rem;
  font-family: "Didact Gothic", sans-serif;
  margin: 1rem;
}

.power-of-food ul {
  margin: 1rem;
  padding: 1rem 2rem;
}

.power-of-food li {
  text-align: center;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1rem;
}

.power-of-food span {
  color: black;
  font-size: 1.2rem;
  display: block;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
}

.hokage7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.hokage7 h1 {
  font-size: 3.6rem;
  font-family: "Crimson Text", serif;
  color: #736161;
  margin: 2rem;
}

.how-uchiha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #F1F0EA;
  width: 95%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.how-uchiha .img2 {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
}

.how-uchiha .food2 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.how-it-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 1rem;
}

.how-it-text h1 {
  font-size: 6.4rem;
  font-family: "Crimson Text", serif;
}

.how-it-text h3 {
  font-size: 2.4rem;
  color: #736161;
  font-family: "Didact Gothic", sans-serif;
}

.how-it-text span {
  color: black;
  font-size: 1.8rem;
  display: block;
  font-family: "Crimson Text", serif;
}

.how-it-text ul {
  margin: 1rem;
  padding: 1rem 2rem;
}

.how-it-text li {
  text-align: center;
  margin-bottom: 1rem;
  display: block;
  padding: 1rem;
}

.client-body {
  width: 95%;
  margin: auto;
}

h1 {
  font-size: 6.4rem;
  text-align: center;
  font-family: "Crimson Text", serif;
  padding: 1rem;
}

.client-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.story1 {
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  font-size: 1.8rem;
  font-family: "Crimson Text", serif;
  color: #736161;
  text-align: center;
  margin-bottom: 4rem;
}

.story1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1rem;
}

.story2 {
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  font-size: 1.8rem;
  font-family: "Crimson Text", serif;
  color: #736161;
  text-align: center;
}

.story2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1rem;
}

.story3 {
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  font-size: 1.8rem;
  font-family: "Crimson Text", serif;
  color: #736161;
  text-align: center;
  margin-bottom: 5rem;
}

.story3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 2rem;
}

.stay-connected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #F1F0EA;
  width: 95%;
  margin: auto;
  padding: 2rem;
}

.stay-connected h1 {
  font-size: 6.4rem;
}

.stay-connected h2 {
  font-family: "Didact Gothic", sans-serif;
  color: #736161;
  font-size: 2.4rem;
  text-align: center;
}

.stay-connected button {
  background: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-family: "Didact Gothic", sans-serif;
  margin: 1rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  padding: 2rem;
  border: none;
}

form input {
  min-width: 25%;
  min-height: 4.5rem;
  font-family: "Crimson Text", serif;
  font-size: 1.8rem;
  border: 0rem solid black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

form input focus {
  outline: none;
}

form button {
  background: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-family: "Didact Gothic", sans-serif;
  margin: 1rem;
}

footer {
  min-height: 5vh;
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  cursor: pointer;
}

footer img {
  width: 70%;
}

footer h4 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 1022px) {
  html {
    font-size: 55%;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    margin-top: 2rem;
  }
  nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    margin: 2rem 1rem;
    text-align: center;
  }
  .client-story .story3 {
    display: none;
  }
  .client-story .story3-img {
    display: none;
  }
  footer {
    text-align: center;
  }
  h4 {
    padding: 1rem 0rem;
  }
}

@media screen and (max-width: 698px) {
  html {
    font-size: 40%;
  }
  .img1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
  }
  .food2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
  }
  footer {
    text-align: center;
  }
  footer h4 {
    padding: 1rem 0rem;
  }
  .client-story .story3 {
    display: none;
  }
  .client-story .story3-img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */